{erl_opts, [debug_info]}.
{deps, [{opencensus, "~> 0.6.0"},
        {jsx, "~> 2.9"}]}.

{project_plugins, [rebar3_lint,
                   covertool]}.

{shell, [{config, "config/dev.conf"}]}.

{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.
{ct_opts, [{ct_hooks, [{cth_surefire, [{path, "./report.xml"}]}]}]}.

% vi: ft=erlang syn=erlang
